<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772379802860-jkejau5mfh0am0aqa077mkcdslsjgafi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772379802860-jkejau5mfh0am0aqa077mkcdslsjgafi</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Ug9H-KJwlNKpE48Rh9KrEH2_mcK6PrA</string>
	<key>GCM_SENDER_ID</key>
	<string>772379802860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdgHackatonApp</string>
	<key>PROJECT_ID</key>
	<string>agrivest-866ab</string>
	<key>STORAGE_BUCKET</key>
	<string>agrivest-866ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772379802860:ios:6b0919ac36ab816b6279c9</string>
</dict>
</plist>